html {
  background-color: rgb(243, 255, 236);
  font-family: 'Gupter', serif;
}

.App {
  text-align: center;
  background-color: rgb(243, 255, 236);
}

.header > *, nav {
  margin: 0;
  background-color: rgb(150, 200, 128);
}

nav {
  display: flex;
  justify-content: center;
  gap: 1.2em;
  margin: 0 0 1em 0;
}

nav > * {
  text-decoration: none;
}

nav > *:hover {
  color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1em;
  background-color: rgb(150, 200, 128);
  height: 72px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-top: 1em;
  margin-bottom: 0px;
}

.dashboard-card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1em 1.1em;
  font-size: 1.5em;
  font-weight: 500;
}

.dashboard-card-container > * {
  display: flex;
  flex-direction: column;
  min-width: 13em;
  min-height: 13em;
  background-color: rgb(150, 200, 128);
  padding: 1em;
  border-radius: 6%;
  box-shadow: 3px 3px 5px rgb(100, 150, 78);
  flex-basis: 10%;
}

.main-dispatch-headers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0 5em 0 5em;
  font-size: 0.5em;
}

#tech-selector {
  font-size: 1.4em;
}

.open-ticket-list-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  margin: 1em;
  padding: 0 5em 0 5em;
  font-size: 0.5em;
}

button {
  background-color: rgb(200, 250, 178);
  box-shadow: 2px 2px 5px rgb(150, 200, 128);
  border-style: solid;
  border-color:rgba(75, 125, 50, 0.25);
  border-radius: 5%;
}

button:hover {
  background-color: rgb(243, 255, 236);
}

.ticket-page-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 0 10em 0 10em;
  font-size: 0.4em;
}

.active-tab {
  color: rgb(200, 250, 178);
  background-color: rgb(100, 150, 78);
  font-weight: 750;
  border-style: solid;
}

.inactive-tab:hover {
  color: rgb(200, 250, 178);
  background-color: rgb(100, 150, 78);
  font-weight: 750;
  border-style: solid;
}

.inactive-tab {
  color:rgb(100, 150, 78);
  background-color: rgb(200, 250, 178);
  border-style: solid;
}

.active-tab:hover {
  color:rgb(100, 150, 78);
  background-color: rgb(200, 250, 178);
  border-style: solid;
}

.ticket-page-main > :nth-child(3) {
  grid-column-start: span 2;
}

.ticket-list-headers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.ticket-list {
  grid-column-start: span 6;
}

.ticket-list-item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.ticket-creator-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.technician-page-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin: 0 10em 0 10em;
  font-size: 0.5em;
}

.technician-list-headers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  grid-column-start: span 3;
}

.technician-list-headers > *:nth-child(4) {
  grid-column-start: span 3;
}

.technician-list-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.technician-creator {
  grid-column-start: span 3;
}

.technician-creator-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.ticket-resolver {
  grid-column-start: span 3;
}

.ticket-resolver-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

@media only screen and (min-width: 50em) {
  .dashboard-card-container {
    flex-direction: row;
  }

  nav {
    font-size: 1.5em;
  }

  .open-ticket-list-item {
    font-size: 1em;
  }

  .main-dispatch-headers {
    font-size: 1em;
  }

  .ticket-page-main {
    font-size: 1em;
  }

  .technician-page-main {
    font-size: 1em;
  }
}